<mat-card style="width:250px">
    <div fxLayout="row center" fxLayoutAlign="space-between">
        <div class="createicons" fxLayoutAlign="space-between">
            <img src="/assets/add.svg" *ngIf="!selected" (click)="select()" width="25px" height="25px" />
            <img src="/assets/close.svg" *ngIf="selected" (click)="close()" width="25px" height="25px" />
        </div>
        <form [formGroup]="labelform">
            <input class="add" textarea formControlName="labelName" placeholder="Create a label" (click)="select()" />
        </form>
        <button class="tick">
            <img *ngIf="selected" (click)="create()" src="/assets/tick.svg">
        </button>
    </div>
    <div *ngFor="let label of data" fxLayoutGap="20px">
        <div fxLayout="row center" fxLayoutAlign="space-evenly" style="width: 200px fixed;">
            <div class="labelcard" fxLayoutAlign="space-between">
                <div class="labelicons">
                    <img src="/assets/label.svg" />
                    <img src="/assets/deletelabel.svg" (click)="deletelabel(label)"/>
                </div>
                <form [formGroup]="updatelabelform" fxLayout="row center">
                    <input class="add" textarea formControlName="editlabelname" placeholder="{{label.labelName}}"
                        (click)="editing()" />
                    <div>
                        <img (click)="editing()" src="/assets/edit.svg">
                        <img (click)="doneedit(label)" src="/assets/tick.svg">
                    </div>
                </form>
            </div>
        </div>
    </div>
</mat-card>