<div class="container" [class.example-is-mobile]="mobileQuery.matches">
    <mat-toolbar>
        <div class="menu">
            <button mat-icon-button (click)="snav.toggle()">
                <mat-icon>menu</mat-icon>
            </button>
        </div>
        <img class="logo" src="/assets/keep.png" width="30px" height="30px" />
        <div class="title">
            <p>Fundoo Notes</p>
        </div>
        <div class="firstContainer" fxLayout="row" fxLayoutAlign="start center">
            <div fxLayout="row">
                <img mat-button class="searching" src="/assets/search.svg" />
                <input fxHide.xs="true" fxHide.sm="true" fxHide.md="true" type="text" placeholder="Search"
                    (keyup)="Search($event)" class="search" />
            </div>
        </div>
        <div>
            <button mat-button class="refresh"><img src="/assets/refresh.svg" (click)="refresh()" width="25px"
                    height="25px" />
            </button>
        </div>
        <div>
            <button mat-button class="view"><img src="/assets/view.svg" width="25px" height="25px" />
            </button>
        </div>
        <div>
            <button mat-button class="settings"><img src="/assets/settings.svg" width="25px" height="25px" />
            </button>
        </div>
        <div>
            <button [matMenuTriggerFor]="accountmenu" mat-button class="profile"><img src="/assets/account.svg"
                    width="20px" height="20px" />
            </button>
            <mat-menu #accountmenu="matMenu">
                <button mat-menu-item (click)="logout()">Logout</button>
            </mat-menu>
        </div>
    </mat-toolbar>
    <div fxLayout="row" fxLayoutAlign="start">
        <div class="iconbar">
            <div class="example-sidenav-content">
                <button type="button" class="icons" mat-button>
                    <img class="img" src="/assets/bulb.svg" routerLink="notes" width="25px" height="25px" />
                </button>
            </div>
            <div class="example-sidenav-content">
                <button type="button" class="icons" mat-button>
                    <img class="img" src="/assets/bell.svg" width="25px" height="25px" />
                </button>
            </div>
            <div class="example-sidenav-content" *ngFor="let label of LabelList">
                <button type="button" class="icons" mat-button>
                    <img class="img" src="/assets/label.svg" width="25px" height="25px" />
                </button>
            </div>
            <div class="example-sidenav-content" (crudrefresh)="dialogrefresh($event)">
                <button type="button" class="icons" mat-button>
                    <img class="img" src="/assets/pencil.svg" (click)="Edit(LabelList)" width="25px" height="25px" />
                </button>
            </div>
            <div class="example-sidenav-content">
                <button type="button" class="icons" mat-button>
                    <img class="img" src="/assets/archive.svg" routerLink="archive" width="25px" height="25px" />
                </button>
            </div>
            <div class="example-sidenav-content">
                <button type="button" class="icons" mat-button>
                    <img class="img" src="/assets/delete.svg" routerLink="deleted" width="25px" height="25px" />
                </button>
            </div>
        </div>
        <div>
            <mat-sidenav-container class="example-sidenav-container" style="border: black;"
                [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
                <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
                    [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
                    <mat-nav-list>
                        <a class="link" mat-list-item routerLink="notes" style="text-align: center;">Notes</a>
                        <a class="link" mat-list-item routerLink=".">Reminders</a>
                        <div *ngFor="let label of LabelList">
                            <a class="link" mat-list-item routerLink="."> {{label.labelName}}</a>
                        </div>
                        <a class="link" mat-list-item (click)="Edit(LabelList)">Edit Labels</a>
                        <a class="link" mat-list-item routerLink="archive">Archive</a>
                        <a class="link" mat-list-item routerLink="deleted">Trash</a>
                    </mat-nav-list>
                </mat-sidenav>
                <mat-sidenav-content>
                    <router-outlet></router-outlet>
                </mat-sidenav-content>
            </mat-sidenav-container>
        </div>
    </div>
</div>