<div fxLayout="row" fxLayoutAlign="start">
    <div>
        <button>
            <img src="/assets/bell.webp" width="15px" height="15px" />
        </button>
    </div>
    <div>
        <button>
            <img src="/assets/collab.webp" width="15px" height="15px" />
        </button>
    </div>
    <div>
        <button>
            <img src="/assets/palette.png" width="15px" height="15px" />
        </button>
    </div>
    <div>
        <button>
            <img src="/assets/image.webp" width="15px" height="15px" />
        </button>
    </div>
    <div>
        <button>
            <img src="/assets/Archievelight.png" width="15px" height="15px" />
        </button>
    </div>
    <div>
        <button>
            <img src="/assets/more.png" width="15px" height="15px" />
        </button>
    </div>
</div>