.icons{
    //margin-left: 80%;
    display: flex;
    position: relative;
    opacity: 0.6;
    border: none;
    background-color: none;
}
.archiveicons{
    border: none;
    background-color: none;
}
.deleteicons{
    border: none;
    background-color: none;
}
.colorButton{
    display: flex;
    flex-wrap: wrap;
    padding: 0%;
    width: 180px;
    height: 130px;
}