<div class="icons">
    <div *ngIf="this.notecarddata.isDeleted === false" fxLayout="row" fxLayoutAlign="space-between" fxLayoutGap="20px">
        <div>
            <!-- <button > -->
            <img [matMenuTriggerFor]="remindermenu" src="/assets/reminder.svg" width="24px" height="24px" />
            <!-- </button> -->
            <mat-menu #remindermenu="matMenu">
                <button mat-menu-item>Today</button>
                <button mat-menu-item>Tomorrow</button>
                <button mat-menu-item>This Week</button>
                <button mat-menu-item>Select date/time</button>
                <button mat-menu-item>Select location</button>
            </mat-menu>
        </div>
        <div>
            <!-- <button> -->
            <img src="/assets/collab.svg" width="24px" height="24px" />
            <!-- </button> -->
        </div>
        <div>
            <img [matMenuTriggerFor]="colormenu" src="/assets/palette.svg" width="24px" height="24px" />
            <mat-menu #colormenu="matMenu">
                <mat-card class="colorButton">
                    <div *ngFor="let color of predefinedcolors" >
                        <button mat-mini-fab [style.background]="color?.colorcode" (click)="colorselect(color?.name)">
                        </button>
                    </div>
                </mat-card>
            </mat-menu>
        </div>
        <div>
            <!-- <button> -->
            <img src="/assets/insertimg.svg" width="24px" height="24px" />
            <!-- </button> -->
        </div>
        <div class="archiveicons">
            <div *ngIf="this.notecarddata.isArchived === false">
                <img src="/assets/archive.svg" (click)="Archive()" width="24px" height="24px" />
            </div>
            <div *ngIf="this.notecarddata.isArchived === true">
                <img src="/assets/unarchive.svg" (click)="Archive()" width="24px" height="24px" />
            </div>
        </div>
        <div>
            <!-- <button > -->
            <img [matMenuTriggerFor]="moremenu" src="/assets/more.svg" width="24px" height="24px" />
            <!-- </button> -->
            <mat-menu #moremenu="matMenu">
                <span mat-menu-item (click)="Delete()">Delete Note</span>
            </mat-menu>
        </div>
    </div>
    <div *ngIf="this.notecarddata.isDeleted === true" fxLayout="row" fxLayoutGap="3px" class="deleteicons">
        <img src="/assets/restore.svg" (click)="Delete()" width="24px" height="24px" />
        <img src="/assets/permadelete.svg" (click)="Permadelete()" width="24px" height="24px" />
    </div>
</div>