mat-card{
  width: 110vh;
  display: table;
  margin-left:auto;
  margin-right:auto;
}
.parentcontainer{
  position: relative;
  display: table-cell;
  align-self: auto;
  margin: auto;
  width: 1200px;
  clear: both;
}
.formContainer{
  padding: 50px ;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 60%;
}
.imagecontainer{
  width: 40%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.button-row{
  margin: 8px 8px 8px 0;
  display: table-cell;
  width: 490px;
}