<div fxLayout="row" fxLayoutAlign="center center" style="width: 100vw;height: 100vh;">
    <mat-card>
        <form [formGroup]="registerationForm" (ngSubmit)="onSubmit()" fxLayout="row" fxLayoutGap=10px>
            <div fxLayout="column" fxLayoutGap="20px">
                <div>
                    <h1 fxLayoutAlign="center">
                        <span style="color:#FF0000">F</span>
                        <span style="color:#66CC66">u</span>
                        <span style="color:#FF9966">n</span>
                        <span style="color:#FFCCCC">d</span>
                        <span style="color:#FF0066">o</span>
                        <span style="color:#d9ff00">o</span>
                    </h1>
                    <h2  fxLayoutAlign="center">
                        Create your Fundoo Account
                    </h2>
                    <div fxLayoutGap=10px>
                        <mat-form-field appearance="outline">
                            <mat-label>First Name</mat-label>
                            <input matInput formControlName="FirstName">
                            <mat-error>Please enter a Name</mat-error>
                        </mat-form-field>
                        <mat-form-field appearance="outline">
                            <mat-label>Last Name</mat-label>
                            <input matInput formControlName="LastName">
                        </mat-form-field>
                    </div>
                    <div fxLayout="column" fxLayout.xs="row">
                        <mat-form-field appearance="outline">
                            <mat-label>Email</mat-label>
                            <input matInput formControlName="EmailID">
                            <mat-error>Please enter an email</mat-error>
                            <mat-hint>Alphanumeric with symbols</mat-hint>
                        </mat-form-field>
                    </div>
                </div>
                <div fxLayoutGap=10px>
                    <mat-form-field appearance="outline">
                        <mat-label>Password</mat-label>
                        <input matInput formControlName="Password" type="password">
                        <mat-hint>Alphanumeric with symbols</mat-hint>
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Confirm Password</mat-label>
                        <input matInput formControlName="ConfirmPassword" type="password">
                        <mat-hint>Same as password</mat-hint>
                    </mat-form-field>
                </div>
                <mat-checkbox class="example-margin">Show Password</mat-checkbox>
                <div fxLayoutAlign="space-between">
                    <button mat-flat-button routerLink="/login">Sign in instead</button>
                    <button mat-raised-button color="primary" routerLink="/login">Next</button>
                </div>
            </div>
            <div fxLayout="row" fxLayoutAlign="center center" fxHide.xs="true" fxHide.sm="true">
                <div>
                    <img src="assets/fundoo.svg">
                    An account for managing your personal notes
                </div>
            </div>
        </form>
    </mat-card>
</div>