<div fxLayout="row wrap" fxLayoutGap="20px grid" style="padding-top:5%;padding-left:1%">
    <div *ngFor="let note of NotesList">
        <mat-card class="card">
            <mat-card-title (click)="Open(note)">
                {{note.title}}
            </mat-card-title>
            <mat-card-subtitle (click)="Open(note)">
                {{note.body}}
            </mat-card-subtitle>
            <div class="icons">
                <app-iconscomponent [notecarddata]='note'></app-iconscomponent>
            </div>
        </mat-card>
    </div>
</div>