<div fxLayout="row" fxLayoutAlign="center center" style="width: 100vw;height: 100vh;">
    <mat-card>
        <form fxLayout="row" fxLayoutGap=10px>
            <div fxLayout="column" fxLayoutGap="20px">
                <div>
                    <h1 fxLayoutAlign="center">
                        <span style="color:#FF0000">F</span>
                        <span style="color:#66CC66">u</span>
                        <span style="color:#FF9966">n</span>
                        <span style="color:#FFCCCC">d</span>
                        <span style="color:#FF0066">o</span>
                        <span style="color:#d9ff00">o</span>
                    </h1>
                    <h2 fxLayoutAlign="center">
                        Enter your desired new password
                    </h2>
                    <div fxLayout="column">
                        <mat-form-field appearance="outline">
                            <mat-label>Password</mat-label>
                            <input matInput password="password">
                            <mat-hint>Alphanumeric with symbols</mat-hint>
                        </mat-form-field>
                        <mat-form-field appearance="outline">
                            <mat-label>Confirm Password</mat-label>
                            <input matInput confirmPassword="confirmPassword">
                            <mat-hint>Same as password</mat-hint>
                        </mat-form-field>
                    </div>
                </div>
                <div fxLayoutAlign="center">
                    <button mat-raised-button color="primary">Confirm</button>
                </div>
            </div>
            <div fxLayout="row" fxLayoutAlign="center center" fxHide.xs="true" fxHide.sm="true" fxHide.md="true">
                <div>
                    <img src="assets/account.svg">
                    An account for managing your personal notes
                </div>
            </div>
        </form>
    </mat-card>
</div>